

.search-field {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.navbar-items{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  
}
/* media queary  */
@media only screen and (max-width: 577px){
  .navbar-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    flex-direction: column;
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px){
  .navbar-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    flex-direction: column;
  }
}